[submodule "phpTest"]
	path = ProyectosGit/phpTest
	url = https://github.com/VoctorX/phpTest.git
[submodule "Parcial1"]
	path = ProyectosGit/Parcial1
	url = https://github.com/VoctorX/Parcial1.git
[submodule "Impresora"]
	path = ProyectosGit/Impresora
	url = https://github.com/VoctorX/Impresora.git
[submodule "Jupyter"]
	path = ProyectosGit/Jupyter
	url = https://github.com/VoctorX/Jupyter.git
[submodule "Taller1"]
	path = ProyectosGit/Taller1
	url = https://github.com/VoctorX/Taller-Seguimiento-1.git
[submodule "SOLID"]
	path = ProyectosGit/SOLID
	url = https://github.com/VoctorX/SOLID.git

[submodule "ProyectosGit/SOLID"]
	path = ProyectosGit/SOLID
	url = https://github.com/VoctorX/SOLID.git
